.theme{
    background-image: url("./DSC_5728.jpg"); 
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.expbar{
    position: absolute;
    right: 10px;
    display: inline;

    
}
.exp-item{
    padding: 5px;
    text-align: right;
    font-size: 40px;
    color: gold;
    display:block;
    text-decoration: none;
 }
a:link {
    color: rgb(15, 233, 15);
  }
  
  a:visited {
    color:rgb(4, 241, 4)
  }
  
  a:hover {
    color: rgb(13, 218, 245);
  }
  
  a:active {
    color:blue;
  } 
.mainHeader{
    text-align:left;
    position: fixed;
    top: 5;
    padding: 15px;
    font-size: 80px;
    color: aqua;
}
#miniHeader{
    font-size: 25px;
}
.para1{
    position:relative;
    left: 10px;
    top: 240px;  
    width: 300px;
    height: 55rem;
    background: rgba(1, 10, 1, 0.233);
    border-radius: 10px 10px 10px 10px;
    text-align: left 25px;
    font-size: 35px;
    text-indent: 30px;
}
